.icone {
  display: flex;
  justify-content: center;
  pointer-events: all;
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  overflow: hidden;
}

@media (max-width: 900px){
  .icone {
  
    width: 64px;
    height: 64px;
  
  }
}
