.header-container {
  background-color: var(--navbar);
  display: flex;
  justify-content: center;
  height: 100%;
  z-index: 9;
}

.header-area {
  width: calc(100% - 5vw);
  max-width: 1300px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container {
  height: 100%;
  width: 100%;
  background-color: var(--navbar);
}
