.menu-dropdown {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  top: 100px;
  width: 200px;
  height: auto;
  background-color: var(--transparente);
  z-index: 9;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.menu-dropdown::-webkit-scrollbar {
  display: none;
}

.link-customizado {
  width: 150px;
  height: 25px;
  text-align: center;
  background-color: var(--azul_marinho);
  color: var(--branco_amarelado);
  text-transform: uppercase;
  border-radius: 5px;
  pointer-events: all;
}

.link-customizado:hover {
  background-color: var(--azul_piscina);
}

.link-customizado:hover a {
  letter-spacing: 0.2rem;
}

.link-customizado:active {
  box-shadow: 0 0 3px inset var(--azul_marinho);
}

.link-customizado a {
  color: white;
  font-size: 0.8rem;
}

.link-customizado a:hover {
  letter-spacing: 0.15rem;
}

.link-customizado:active a {
  color: var(--azul_marinho);
  font-size: 0.8rem;
}

.menu-usuario {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 40px;
}

.area-de-clique {
  flex-direction: column;
  width: 40%;
  height: 40px;
}

.menu-dropdown {
  display: flex;
  gap: 0px;
  border: none;
  width: 200px;
  top: 25px;
  opacity: 0;
}

.area-de-clique:hover .menu-dropdown {
  top: 80px;
  gap: 10px;
  overflow: scroll;
  height: auto;
  opacity: 1;
  pointer-events: auto;
}

.carrinho {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.cadastro {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}
